.d-none {
	display: none;
}

.padding-5 {
	padding: 60px;
}

.padding-3 {
	padding: 35px;
}

.padding-2 {
	padding: 25px;
}

.padding-l-5 {
	padding-left: 60px;
}
.padding-l-6 {
	padding-left: 90px;
}

.padding-y-5 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.bx-shadow {
	box-shadow: 0 5px 5px 5px #eee;
}

.round-top-left {
	border-top-left-radius: 60px;
}

.round-bottom-right {
	border-bottom-right-radius: 60px;
}

.container-custom {
	padding-left: 60px;
	padding-right: 60px;
}

.h-200 {
	height: 200px !important;
}