.d-none {
	display: none;
}

.padding-5 {
	padding: 60px;
}

.padding-3 {
	padding: 35px;
}

.padding-2 {
	padding: 25px;
}

.padding-l-5 {
	padding-left: 60px;
}
.padding-l-6 {
	padding-left: 90px;
}

.bx-shadow {
	box-shadow: 0 5px 5px 5px #eee;
}

.container-custom {
	padding-left: 60px;
	padding-right: 60px;
}