/**COLORS**/
$bg-color-main: #0063FF;
$bg-color-light: #3181FF;
$bg-light: #EBF3FF;
$color-primary: #1A73FF;

$bg-color-pink: #E5739B;
$bg-color-dark: #B166E5;

/**SIZES**/
$md-size: 768px;
$lg-size: 992px;