@import		'../abstracts/variables';
@import		'../abstracts/mixins';

.mobile-app,
.web-dev {
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 800px;
	font-size: 16px;

	& .row img {
		height: 600px;
		position: relative;
		z-index: 100;
	}

	& h3 {
		font-size: 30px;	
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: capitalize;
		margin-bottom: 40px;
	}

	& p {
		width: 90%;
	}
}

.mobile-app > img {
	height: 600px;
	position: absolute;
	top: 140px;
	left: -20px;
}

.mobile-app .row img {
	margin-left: 160px;
}

.web-dev > img {
	height: 600px;
	position: absolute;
	top: 140px;
	right: -20px;
}

.web-dev p {
	width: 75%;
}

.web-dev .row img {
	margin-right: 200px;
	width: 1000px;
}

.product-design .row img {
	height:470px;
	margin-left: 90px;
}

.product-design > img {
	left: 0px;
}

@include respond($md-size) {
	.mobile-app .row .col-md-6:first-child {
		display: none;
	}

	.mobile-app .row > img {
		display: none;
	}

	.mobile-app .row .col-md-6 {
		padding: 0;

		p {
			width: 100%;
			font-size: 16px;
		}
	}

	.web-dev .row img {
		display: none;
		margin-right: auto;
		margin-left: auto;
		width: 1000px;
	}

	.web-dev .col-md-6:first-child {
		padding-left: 0;
	}

	.web-dev p {
		width: 100%;
	}

	.web-dev,
	.mobile-app,
	.product-design {
		height: 700px;
		padding: 20px;

		& p {
			font-size: 20px !important;
			padding: 0;
		}

		& > img {
			display: none;
		}
	}
}
